In [1]:
  ! pip install -r test1.txt

Requirement already satisfied: asttokens==2.0.8 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 1)) (2.0.8)
Requirement already satisfied: autopep8==1.7.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 2)) (1.7.0)
Requirement already satisfied: backcall==0.2.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 3)) (0.2.0)
Requirement already satisfied: click==8.1.3 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 4)) (8.1.3)
Requirement already satisfied: debugpy==1.6.3 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 5)) (1.6.3)
Requirement already satisfied: decorator==5.1.1 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 6)) (5.1.1)
Requirement already satisfied: entrypoints==0.4 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 7)) (0.4)
Requirement already satisfied: executing==1.1.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 8)) (1.1.0)
Requirement already satisfied: ipykernel==6.16.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 9)) (6.16.0)
Requirement already satisfied: ipython==8.5.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 10)) (8.5.0)
Requirement already satisfied: jedi==0.18.1 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 11)) (0.18.1)
Requirement already satisfied: joblib==1.2.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 12)) (1.2.0)
Requirement already satisfied: jupyter-core==4.11.1 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 13)) (4.11.1)
Requirement already satisfied: jupyter_client==7.3.5 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 14)) (7.3.5)
Requirement already satisfied: matplotlib-inline==0.1.6 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 15)) (0.1.6)
Requirement already satisfied: nest-asyncio==1.5.6 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 16)) (1.5.6)
Requirement already satisfied: nltk==3.7 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 17)) (3.7)
Requirement already satisfied: numpy==1.23.3 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 18)) (1.23.3)
Requirement already satisfied: packaging==21.3 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 19)) (21.3)
Requirement already satisfied: pandas==1.5.1 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 20)) (1.5.1)
Requirement already satisfied: parso==0.8.3 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 21)) (0.8.3)
Requirement already satisfied: pexpect==4.8.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 22)) (4.8.0)
Requirement already satisfied: pickleshare==0.7.5 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 23)) (0.7.5)
Requirement already satisfied: prompt-toolkit==3.0.31 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 24)) (3.0.31)
Requirement already satisfied: psutil==5.9.2 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 25)) (5.9.2)
Requirement already satisfied: ptyprocess==0.7.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 26)) (0.7.0)
Requirement already satisfied: pure-eval==0.2.2 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 27)) (0.2.2)
Requirement already satisfied: py4j==0.10.9.5 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 28)) (0.10.9.5)
Requirement already satisfied: pycodestyle==2.9.1 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 29)) (2.9.1)
Requirement already satisfied: Pygments==2.13.0 in /home/shijal/.local/lib/python3.8/site-packages (from -r test1.txt (line 30)) (2.13.0)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from asttokens==2.0.8->-r test1.txt (line 1)) (1.14.0)
Requirement already satisfied: toml in /home/shijal/.local/lib/python3.8/site-packages (from autopep8==1.7.0->-r test1.txt (line 2)) (0.10.2)
Requirement already satisfied: pyzmq>=17 in /home/shijal/.local/lib/python3.8/site-packages (from ipykernel==6.16.0->-r test1.txt (line 9)) (24.0.1)
Requirement already satisfied: traitlets>=5.1.0 in /home/shijal/.local/lib/python3.8/site-packages (from ipykernel==6.16.0->-r test1.txt (line 9)) (5.5.0)
Requirement already satisfied: tornado>=6.1 in /home/shijal/.local/lib/python3.8/site-packages (from ipykernel==6.16.0->-r test1.txt (line 9)) (6.2)
Requirement already satisfied: stack-data in /home/shijal/.local/lib/python3.8/site-packages (from ipython==8.5.0->-r test1.txt (line 10)) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/shijal/.local/lib/python3.8/site-packages (from jupyter_client==7.3.5->-r test1.txt (line 14)) (2.8.2)
Requirement already satisfied: tqdm in /home/shijal/.local/lib/python3.8/site-packages (from nltk==3.7->-r test1.txt (line 17)) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /home/shijal/.local/lib/python3.8/site-packages (from nltk==3.7->-r test1.txt (line 17)) (2022.10.31)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/shijal/.local/lib/python3.8/site-packages (from packaging==21.3->-r test1.txt (line 19)) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /home/shijal/.local/lib/python3.8/site-packages (from pandas==1.5.1->-r test1.txt (line 20)) (2022.5)
Requirement already satisfied: wcwidth in /home/shijal/.local/lib/python3.8/site-packages (from prompt-toolkit==3.0.31->-r test1.txt (line 24)) (0.2.5)

In [2]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /home/shijal/.local/lib/python3.8/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/shijal/.local/lib/python3.8/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pyspark.sql import SparkSession , functions as F

spark = SparkSession.builder.appName('Crime')\
    .config('spark.driver.extraClassPath', '/usr/lib/jvm/java-11-openjdk-amd64/lib/postgresql-42.5.0.jar')\
    .getOrCreate()

22/11/03 17:35:29 WARN Utils: Your hostname, shijal-Lenovo-IdeaPad-S145-15IWL resolves to a loopback address: 127.0.1.1; using 192.168.101.12 instead (on interface wlp0s20f3)
22/11/03 17:35:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/03 17:35:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/03 17:35:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
police_df=spark.read.csv('police_district_code.csv')

In [5]:
police_df.show()

+-------------+-------------+
|          _c0|          _c1|
+-------------+-------------+
|District_Code|District_Name|
|           A1|     Downtown|
|          A15|  Charlestown|
|           A7|  East Boston|
|           B2|      Roxbury|
|           B3|     Mattapan|
|           C6| South Boston|
|          C11|   Dorchester|
|           D4|    South End|
|          D14|     Brighton|
|           E5| West Roxbury|
|          E13|Jamaica Plain|
|          E18|    Hyde Park|
+-------------+-------------+

In [6]:
Properties={'user': 'shijal', 'password': 'shijal@123'}
URL='jdbc:postgresql://localhost:5432/postgres'

In [7]:
police_df.write.jdbc(url=URL, table='police', mode='overwrite', properties=Properties)

In [9]:
crime_df=spark.read.csv('crimes.csv')

In [11]:
crime_df.show()

+---------------+------------+--------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+--------------------+
|            _c0|         _c1|                 _c2|                 _c3|     _c4|           _c5|     _c6|                _c7| _c8|  _c9|       _c10|_c11|      _c12|             _c13|       _c14|        _c15|                _c16|
+---------------+------------+--------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP| OFFENSE_DESCRIPTION|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|           STREET|        Lat|        Long|            Location|
|     I182070945|       00619|             Larceny|  LARCENY ALL OTHERS|     D14|           808|    null|2018-09-02 13:00:00|2018|    9|     Sunday|  13|  Part One|       LINCOLN ST|42.35779134|-71.13937053|(42.35779134, -71...|
|     I182070943|       01402|           Vandalism|           VANDALISM|     C11|           347|    null|2018-08-21 00:00:00|2018|    8|    Tuesday|   0|  Part Two|         HECLA ST|42.30682138|-71.06030035|(42.30682138, -71...|
|     I182070941|       03410|               Towed| TOWED MOTOR VEHICLE|      D4|           151|    null|2018-09-03 19:27:00|2018|    9|     Monday|  19|Part Three|      CAZENOVE ST|42.34658879|-71.07242943|(42.34658879, -71...|
|     I182070940|       03114|Investigate Property|INVESTIGATE PROPERTY|      D4|           272|    null|2018-09-03 21:16:00|2018|    9|     Monday|  21|Part Three|       NEWCOMB ST|42.33418175|-71.07866441|(42.33418175, -71...|
|     I182070938|       03114|Investigate Property|INVESTIGATE PROPERTY|      B3|           421|    null|2018-09-03 21:05:00|2018|    9|     Monday|  21|Part Three|         DELHI ST|42.27536542|-71.09036101|(42.27536542, -71...|
|     I182070936|       03820|Motor Vehicle Acc...|M/V ACCIDENT INVO...|     C11|           398|    null|2018-09-03 21:09:00|2018|    9|     Monday|  21|Part Three|       TALBOT AVE|42.29019621|-71.07159012|(42.29019621, -71...|
|     I182070933|       00724|          Auto Theft|          AUTO THEFT|      B2|           330|    null|2018-09-03 21:25:00|2018|    9|     Monday|  21|  Part One|      NORMANDY ST|42.30607218|-71.08273260|(42.30607218, -71...|
|     I182070932|       03301|     Verbal Disputes|      VERBAL DISPUTE|      B2|           584|    null|2018-09-03 20:39:37|2018|    9|     Monday|  20|Part Three|          LAWN ST|42.32701648|-71.10555088|(42.32701648, -71...|
|     I182070931|       00301|             Robbery|    ROBBERY - STREET|      C6|           177|    null|2018-09-03 20:48:00|2018|    9|     Monday|  20|  Part One|MASSACHUSETTS AVE|42.33152148|-71.07085307|(42.33152148, -71...|
|     I182070929|       03301|     Verbal Disputes|      VERBAL DISPUTE|     C11|           364|    null|2018-09-03 20:38:00|2018|    9|     Monday|  20|Part Three|        LESLIE ST|42.29514664|-71.05860832|(42.29514664, -71...|
|     I182070928|       03301|     Verbal Disputes|      VERBAL DISPUTE|      C6|           913|    null|2018-09-03 19:55:00|2018|    9|     Monday|  19|Part Three|    OCEAN VIEW DR|42.31957856|-71.04032766|(42.31957856, -71...|
|     I182070927|       03114|Investigate Property|INVESTIGATE PROPERTY|      C6|           936|    null|2018-09-03 20:19:00|2018|    9|     Monday|  20|Part Three|      DALESSIO CT|42.34011469|-71.05339029|(42.34011469, -71...|
|     I182070923|       03108|Fire Related Reports|FIRE REPORT - HOU...|      D4|           139|    null|2018-09-03 19:58:00|2018|    9|     Monday|  19|Part Three|   MARLBOROUGH ST|42.35038760|-71.08785290|(42.35038760, -71...|
|     I182070922|       02647|               Other|THREATS TO DO BOD...|      B3|           429|    null|2018-09-03 20:39:00|2018|    9|     Monday|  20|  Part Two|      WOODROW AVE|42.28647012|-71.08714661|(42.28647012, -71...|
|     I182070921|       03201|       Property Lost|     PROPERTY - LOST|      B3|           469|    null|2018-09-02 14:00:00|2018|    9|     Sunday|  14|Part Three|        MULVEY ST|42.27924052|-71.09667382|(42.27924052, -71...|
|     I182070920|       03006|  Medical Assistance|SICK/INJURED/MEDI...|    null|              |    null|2018-09-03 19:43:00|2018|    9|     Monday|  19|Part Three|             null|42.35287456|-71.07382970|(42.35287456, -71...|
|     I182070919|       03301|     Verbal Disputes|      VERBAL DISPUTE|     C11|           341|    null|2018-09-03 18:52:00|2018|    9|     Monday|  18|Part Three|    STONEHURST ST|42.30526428|-71.06683755|(42.30526428, -71...|
|     I182070918|       03305|Assembly or Gathe...| DEMONSTRATIONS/RIOT|      D4|           130|    null|2018-09-03 17:00:00|2018|    9|     Monday|  17|Part Three|   HUNTINGTON AVE|42.34857652|-71.07772012|(42.34857652, -71...|
|     I182070917|       02647|               Other|THREATS TO DO BOD...|      B2|           901|    null|2018-09-03 19:52:00|2018|    9|     Monday|  19|  Part Two|      HORADAN WAY|42.33371742|-71.09665806|(42.33371742, -71...|
+---------------+------------+--------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+--------------------+
only showing top 20 rows

In [14]:
crimes_df = spark.read.csv('/home/shijal/Desktop/Crime/crimes.csv', header=True, inferSchema=True)
offense_codes_df = spark.read.csv('/home/shijal/Desktop/Crime/offense_codes.csv', header=True, inferSchema=True)
police_district_codes_df = spark.read.csv('/home/shijal/Desktop/Crime/police_district_code.csv', header=True, inferSchema=True)

In [15]:
# for SHOOTING column replace null values with 'N'
crimes_df = crimes_df.withColumn('SHOOTING', F.when(F.col('SHOOTING').isNull(), 'N')\
    .otherwise(F.col('SHOOTING')))

# remove OFFENSE_DESCRIPTION column
crimes_df = crimes_df.drop('OFFENSE_DESCRIPTION')
crimes_df.show(5)

# keep only first duplicate value in offence_code_df
offense_codes_df = offense_codes_df.dropDuplicates(['CODE'])
offense_codes_df.sort ('CODE').show(5)

+---------------+------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|     STREET|        Lat|        Long|            Location|
+---------------+------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------+-----------+------------+--------------------+
|     I182070945|         619|             Larceny|     D14|           808|       N|2018-09-02 13:00:00|2018|    9|     Sunday|  13|  Part One| LINCOLN ST|42.35779134|-71.13937053|(42.35779134, -71...|
|     I182070943|        1402|           Vandalism|     C11|           347|       N|2018-08-21 00:00:00|2018|    8|    Tuesday|   0|  Part Two|   HECLA ST|42.30682138|-71.06030035|(42.30682138, -71...|
|     I182070941|        3410|               Towed|      D4|           151|       N|2018-09-03 19:27:00|2018|    9|     Monday|  19|Part Three|CAZENOVE ST|42.34658879|-71.07242943|(42.34658879, -71...|
|     I182070940|        3114|Investigate Property|      D4|           272|       N|2018-09-03 21:16:00|2018|    9|     Monday|  21|Part Three| NEWCOMB ST|42.33418175|-71.07866441|(42.33418175, -71...|
|     I182070938|        3114|Investigate Property|      B3|           421|       N|2018-09-03 21:05:00|2018|    9|     Monday|  21|Part Three|   DELHI ST|42.27536542|-71.09036101|(42.27536542, -71...|
+---------------+------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------+-----------+------------+--------------------+
only showing top 5 rows

+----+--------------------+
|CODE|                NAME|
+----+--------------------+
| 111|MURDER, NON-NEGLI...|
| 112|KILLING OF FELON ...|
| 113|KILLING OF FELON ...|
| 114|KILLING OF POLICE...|
| 121|MANSLAUGHTER - VE...|
+----+--------------------+
only showing top 5 rows

11. Find the average number of crime happened  for each year.

In [60]:
crimes_df.groupBy("Year").count().show()
################### SAVE to POSTGRES #######################
crimes_df.write.jdbc(url=URL, table='YEAR', mode='overwrite', properties=Properties)

+----+------+
|Year| count|
+----+------+
|2018| 65685|
|2015| 53388|
|2016| 99114|
|2017|100886|
+----+------+

12. How many crimes were committed in 2018.

In [50]:
total_2018 = crimes_df.where((crimes_df.YEAR==2018)).count()
print("Total crimes committed in 2018 is:",total_2018)
################### SAVE to POSTGRES #######################
crimes_df.write.jdbc(url=URL, table='YEAR', mode='overwrite', properties=Properties)

Total crimes committed in 2018 is: 65685

13. Find how many times ‘Auto Theft’ happened in each year.

In [86]:
filtering_autotheft = crimes_df.filter((crimes_df.OFFENSE_CODE_GROUP=="Auto Theft")).select(crimes_df.YEAR,crimes_df.OFFENSE_CODE_GROUP)
total_autotheft = filtering_autotheft.groupBy("YEAR").count().orderBy("Year").withColumnRenamed("count","Total Auto Theft in Year")
total_autotheft.show()
################### SAVE to POSTGRES #######################
crimes_df.write.jdbc(url=URL, table='YEAR', mode='overwrite', properties=Properties)

+----+------------------------+
|YEAR|Total Auto Theft in Year|
+----+------------------------+
|2015|                     988|
|2016|                    1537|
|2017|                    1393|
|2018|                     933|
+----+------------------------+

14. Reporting Area having highest Shooting incident.

In [53]:
crimes_df.groupBy("Shooting").count().show()

+--------+------+
|Shooting| count|
+--------+------+
|       Y|  1019|
|       N|318054|
+--------+------+

15. Arrange street based on high “Rape” incident